<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	 <title>Calendar Login</title>
	 <link rel="stylesheet" type="text/css" href="stylesheets/calendarStyle.css">
</head>
	<body>
		<h1>Create your new account</h1>
		<hr />
		<form action="/CreateAccount" method="POST">
			<table class="login">
				<tr>
					<td>
						Username: 
					</td>
					<td colspan="2">
						<input type="text" name="username" />
					</td>
				</tr>	
				<tr>
					<td>
						Password: 
					</td>
					<td colspan="2">
						<input type="text" name="password" />
					</td>
				</tr>
				<tr>
					<td style="vertical-align:text-top">
						Region: 
					</td>
					<% JSON.parse(data).forEach((element)=>{ %>
							<td style="vertical-align:text-top; text-align:left">
								<input type="checkbox" name="Region[]" value="<%= element.regionid %>">
								<%= element.regionname %>
							</td>
						</tr>	
						<tr>
							<td> <!-- Empty Cell --> </td>
					<% })	%>
				</tr>
			</table>
			<button type="submit">Create</button>
		</form>
	</body>
</html>