body {
  	background-color: indigo;
}

h1 {
	color: yellow;
  	font-family: algerian;
  	text-align: center;
}

table{
  	color: whitesmoke;
}

div{
  	color: whitesmoke;
}

div.inline{
	display: inline-block;
}