body {
  	background-color: indigo;
}

h1 {
	color: yellow;
  	font-family: algerian;
  	text-align: center;
}

table{
  	color: whitesmoke;
}

div{
  	color: whitesmoke;
}

span.first {
	display:inline-block;
	vertical-align: top;
}

span.second {
	display: inline-block;
	width: 1075px; 
	vertical-align: top;
}